/******************************
EVENTS CALENDAR BASE STYLES - Change as needed when using this events calendar
*******************************/
.events-calendar {
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1em; */
  
    padding: 10px 10px;
    margin: 30px 0px 200px 0px;
  }
  .events-calendar-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1em;
  }
  .event-card {
    position: relative;
    padding: 10px 10px;
    /* margin-bottom: 20px; */
    min-height: 250px;
  
    background-position: center center;
    background-size: cover; 
    background-repeat: no-repeat;
    /* outline: 1px solid black; */
    /* background-color: var(--clr-white); */
  }
  .event-title {
    position: relative;
    z-index: 3;
    margin: 0px;
    font-family: var(--ff-heading);
    font-size: 3rem;
    color: var(--clr-saranac-red);
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: fit-content;
  }
  .event-date {
    position: relative;
    z-index: 3;
    margin: 0px 0px 7px 0px;
    font-family: var(--ff-body);
    font-size: 1.5rem;
    color: var(--clr-white);
    max-width: fit-content;
  }
  .event-time {
    position: relative;
    z-index: 3;
    margin: 0px 0px 10px 0px;
    font-family: var(--ff-body);
    font-size: 1.5rem;
    color: var(--clr-white);
    max-width: fit-content;
  }
  .custom-overlay-event {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: var(--clr-black);
    z-index: 2;
    transition: .3s ease-in-out;
  }
  .custom-overlay-event:hover {
    opacity: .7;
  }
  .event-month-tabs {
    padding: 50px 10px 50px 10px;
  }
  .single-month-container {
    display: none;
  }
  .single-month-container.active {
    display: block;
  }
  .event-calendar-top {
    padding: 10px 10px;
    margin: 10px 0px 30px 0px;
  }
  .event-calendar-top-text-under-card {
    /* display: none; */
  }
  .event-desc {
    font-family: var(--ff-body);
  }
  .event-time-underline::after {
    bottom: -8px;
  }
  .event-calendar-top-text-under-card .event-date {
    font-weight: 700;
  }
  .event-calendar-top-text-under-card p {
    font-weight: 500;
  }
  .event-card-top-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .event-calendar-top .event-date {
    color: var(--clr-saranac-red);
  }
  .event-calendar-top .event-title a {
    color: var(--clr-saranac-black);
    transition: .3s ease-in-out;
  }
  .event-calendar-top .event-title a:hover {
    color: var(--clr-saranac-red);
  }
  .event-calendar-top .event-time {
    color: var(--clr-saranac-black);
  }
  .event-calendar-top-text-under-card {
    padding: 30px 10px;
  }
  .events-calendar-divider {
    max-width: 90%;
    margin: 0 auto;
  }
  .single-event-container {
    padding: 10px;
    margin: 50px auto 200px auto;
  }
  .single-event-container p {
    font-family: var(--ff-body);
    font-weight: 500;
    font-size: 1.25rem;
  }
  .single-event-left .event-date {
    color: var(--clr-saranac-black);
  }
  .single-event-left .event-time {
    color: var(--clr-saranac-black);
  }
  .single-event-when {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 500;
    font-family: var(--ff-heading);
    letter-spacing: 1px;
  }
  .single-event-left {
    padding-bottom: 20px;
    border-bottom: 3px solid #ddd;
  }
  .single-event-right p {
    margin-bottom: 30px;
    padding: 20px 0px;
  }
  
  /******************************
  EVENTS CALENDAR TABLET
  *******************************/
  @media(min-width: 767px){
    .events-calendar {
      padding: 1em 10px;
      margin: 30px 0px 200px 0px;
    }
    .events-calendar-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  
  /******************************
  EVENTS CALENDAR DESKTOP
  *******************************/
  @media(min-width: 1380px){
    .events-calendar {
      /* grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1em; */
      max-width: 1400px;
      margin: 30px auto 200px auto;
      padding: 10px 10px;
    }
    .events-calendar-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1em;
    }
    .event-card {
      min-height: 400px;
    }
    /* .event-title:hover > .custom-overlay-event {
      opacity: .7;
    }  */
    .event-title {
      font-size: 4rem;
    }
    .event-month-tabs {
      display: flex;
      gap: 10px;
      justify-content: center;
    }
    .event-calendar-top {
      max-width: 1400px;
      margin: -100px auto 30px auto;
      padding: 10px 10px;
      position: relative; 
      z-index: 2;
    }
    .calendar-top-heading {
      display: none;
    }
    .event-calendar-top .event-card {
      border: 5px solid #fff;
    }
    .events-calendar-divider {
      max-width: 1400px;
    }
    .single-event-container {
      max-width: 1400px;
      margin: 100px auto 200px auto;
    }
    .single-event-flex-container {
      display: flex;
    }
    .single-event-left {
      flex: 1;
      padding-bottom: 0;
      border-bottom: 0;
    }
    .single-event-right {
      flex: 2;
      display: flex;
      /* align-items: center; */
      flex-direction: column;
      padding: 10px 30px;
      border-left: 3px solid #ddd;
    }
  }
  